.App {
  width: 500px;
  height: 300px;
  background-color: burlywood;
  margin: auto;
  text-align: center;
}

.start {
  background-color: green;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.stop {
  background-color: red;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.reset {
  background-color: blue;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}

.text{
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 500;
  padding-top: 25px;
}

.count {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500; 
}